@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
	background-color: #1a1a1a;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkUEn4DwACNQGF65afaAAAAABJRU5ErkJggg==);
	background-size: 100% 25%;
	background-repeat: no-repeat;
}

body,
#outer-ct {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	top: 0px;
	left: 0px;
}

*:focus {
	outline-color: #fed000;
}

a {
	color: #004b8d;
	text-decoration: none;
}

a:visited {
	color: #004b8d;
}

a img {
	border: none;
}

main p a {
	text-decoration: underline;
}

main li a {
	text-decoration: underline;
}

a.skipnav {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	overflow: hidden;
	display: inline-block;
	border: 1px solid #fed000;
	color: #004b8d;
	background-color: #ffffff;
	padding: 8px 16px;
	z-index: 1000;
}

a.skipnav:focus {
	top: 0px;
	left: 0px;
	height: auto;
	width: auto;
}

.oswald {
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.promotion-banner {
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	display: none;
}

.promotion-banner>div {
	width: 100%;
	max-width: 1280px;
	margin: 0px auto;
}

.promotion-banner>div.tablet {
	display: none;
}

.promotion-banner>div.mobile {
	display: none;
}

.promotion-banner.promotion {
	background-color: #e1edff;
}

.promotion-banner.promotion .icon {
	background-position: top -120px left -120px;
}

.promotion-banner.holiday {
	background-color: #fed000;
}

.promotion-banner.holiday .icon {
	background-position: top -120px left -120px;
}

.promotion-banner.emergency {
	background-color: #fff9f8;
}

.promotion-banner .close {
	cursor: pointer;
	background-image: url('<t4 type="media" id="75987" formatter="path/*"/>');
	position: absolute;
	top: 10px;
	right: 10px;
	background-repeat: no-repeat;
	background-position: center;
	height: 28px;
	width: 28px;
}

.promotion-banner .banner-link {
	display: flex;
	width: calc(100% - 80px);
	max-width: 1280px;
	margin: 0px auto;
	align-content: flex-start;
	flex-wrap: nowrap;
	padding: 12px 0px;
}

.promotion-banner.emergency .banner-link {
	color: #CB4724;
}

.promotion-banner .icon {
	height: 60px;
	width: 60px;
	background-image: url('<t4 type="media" id="78895" formatter="path/*"/>');
}

.promotion-banner .content {
	display: inline-block;
	margin-left: 24px;
}

.promotion-banner .content .title {
	font-family: 'Oswald';
	text-transform: uppercase;
	font-family: 'Oswald';
	font-size: 1.4em;
}

.promotion-banner .content .title .date {
	font-family: Arial;
	font-size: 0.7em;
}

.promotion-banner .content .text {
	line-height: 1.4em;
}

.promotion-banner.ntgd .icon {
	background-position: top -240px left 0px;
}

.promotion-banner.min .icon {
	display: none;
}

.promotion-banner.min .content {
	width: 100%;
	display: flex;
	align-items: center;
	line-height: 1em;
}

.promotion-banner.min .content .title {
	font-size: 1em;
	margin-right: 20px;
}

.promotion-banner.min .content .title .date {
	font-size: 1em;
}

.promotion-banner.min .content .text {
	line-height: 1em;
}

header {
	background-color: #002460;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	/*overflow: auto;*/
}

header #logo-search-ct {
	width: calc(100% - 80px);
	max-width: 1280px;
	margin: 0px auto;
	height: 120px;
	position: relative;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header #logo-search-ct #logo img {
	vertical-align: middle;
}

header #logo-search-ct #logo-mobile {
	display: none;
	height: 46px;
	width: auto;
	margin-left: 20px;
	padding: 4px 0px;
}

header #logo-search-ct #logo-mobile img {
	vertical-align: middle;
	max-height: 100%;
}

header #logo-search-ct #logo-shield {
	display: none;
	width: 50px;
	position: absolute;
	top: 8px;
	left: 20px;
	z-index: 100;
}

header #logo-search-ct #logo-shield img {
	vertical-align: middle;
	width: 100%;
	height: auto;
}





header #logo-search-ct section#search {
	text-align: right;
	position: relative;
	top: 0px;
	right: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 30%;
	align-items: center;
}

header #logo-search-ct section#search a {
	color: #ffffff;
	font-size: 0.9em;
	width: 15%;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	text-align: left;
	display: block;
}

header #logo-search-ct section#search a:visited {
	color: #ffffff;
}

header #logo-search-ct section#search a.send-info {
	border: none;
}

header #logo-search-ct section#search a.find-office {
	position: absolute;
	top: -25px;
	right: 0px;
	width: auto;
	text-align: right;
	border: none;
}

header #logo-search-ct section#search a.find-office img {
	position: relative;
	top: -2px;
	margin-left: 4px;
}

header #logo-search-ct section#search a img {
	vertical-align: middle;
	max-width: 35px;
}

header #logo-search-ct section#search form {
	width: 100%;
	max-width: 100%;
}

header #logo-search-ct section#search form input {
	display: inline-block;
	vertical-align: middle;
}

header #logo-search-ct section#search form input[type='text'] {
	width: calc(100% - 69px);
	border: 0px;
	padding: 3px 12px;
	min-height: 37px;
	font-size: 1.2em;
}


header #logo-search-ct nav#quick-nav {
	display: flex;
	justify-content: space-between;
	flex-grow: 2;
	margin-right: 24px;
	align-items: center;
}

header #logo-search-ct nav#quick-nav a {
	color: #ffffff;
	text-align: center;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-size: 1.4em;
	position: relative;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	white-space: nowrap;
	justify-content: space-around;
}

header #logo-search-ct nav#quick-nav a:last-child {
	border: none;
}

header #logo-search-ct nav#quick-nav a img {
	vertical-align: middle;
}

header #logo-search-ct nav#quick-nav a .virtual {
	font-size: 0.6em;
	line-height: 0.6em;
	color: #fed000;
	margin-bottom: -5px;
}

header #logo-search-ct nav#quick-nav a.give {
	margin-left: 24px;
	background-color: rgba(0, 18, 48, 0.6);
	padding: 6px 16px 6px 8px;
}

header #logo-search-ct nav#quick-nav a#mobile-menu-btn {
	height: 60px;
	width: 60px;
	background-color: #1a1a1a;
	background-image: url('<t4 type="media" id="81094" formatter="path/*"/>');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 36px;
	color: #ffffff;
	cursor: pointer;
	display: none;
	line-height: 60px;
	text-indent: 75px;
}

header #logo-search-ct nav#quick-nav a#mobile-menu-btn.open {
	background-image: url('<t4 type="media" id="28238" formatter="path/*"/>');
	background-size: 18px;
}

header #logo-search-ct nav#quick-nav .border {
	display: none;
	width: 1px;
	height: 2em;
	background-color: #ffffff;
}

header #logo-search-ct nav#quick-nav .border:nth-child(2),
header #logo-search-ct nav#quick-nav .border:nth-child(4) {
	display: block;
}


header #main-nav-bg {
	width: 100%;
	background-color: #1a1a1a;
}

header #main-nav-bg nav#main-nav {
	width: 100%;
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}

header #main-nav-bg nav#main-nav a {
	color: #ffffff;
	width: 15%;
	text-align: center;
	padding: 15px 0px;
}

header #main-nav-bg nav#main-nav a:visited {
	color: #ffffff;
}

header #main-nav-bg nav#main-nav a:hover {
	color: #333;
	background-color: #fff;
}

header #main-nav-bg nav#main-nav a.active {
	color: #333;
	background-color: #fff;
}






header section#sub-nav-ct {
	width: 100%;
	background-color: #ffffff;
	display: none;
}

header section#sub-nav-ct .sub-nav {
	width: calc(100% - 80px);
	max-width: 1280px;
	margin: 0px auto;
	justify-content: space-between;
	padding: 36px 0px;
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
}

header section#sub-nav-ct .sub-nav.open {
	display: flex;
}

header section#sub-nav-ct .sub-nav .photo-text {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 12px 0px;
}

header section#sub-nav-ct .sub-nav .photo-text .photo {
	width: 255px;
}

header section#sub-nav-ct .sub-nav .photo-text .photo img {
	width: 100%;
}

header section#sub-nav-ct .sub-nav .photo-text .text {
	font-size: 0.9em;
	padding: 0px 36px;
	color: #666;
	line-height: 1.5em;
	width: calc(100% - 327px);
}

header section#sub-nav-ct .sub-nav .photo-text .text img {
	vertical-align: middle;
	margin-left: 4px;
	position: relative;
	top: -2px;
}

header section#sub-nav-ct .sub-nav nav {
	columns: auto 2;
	width: 45%;
}

header section#sub-nav-ct .sub-nav nav a {
	display: inline-block;
	width: 100%;
	padding: 12px 0px;
}

header section#sub-nav-ct .sub-nav .close-btn {
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: pointer;
	background-image: url('<t4 type="media" id="74470" formatter="path/*"/>');
	height: 36px;
	width: 100px;
}

header section#sub-nav-ct .sub-nav .col {
	width: calc(25% - 60px);
}

header section#sub-nav-ct .sub-nav .col h4 {
	text-transform: uppercase;
	color: #8a8a8a;
	font-weight: bold;
}

header section#sub-nav-ct .sub-nav .col h3 {
	text-transform: uppercase;
	font-size: 1.8em;
	color: #313131;
	font-family: 'Oswald';
	letter-spacing: 2px;
	margin: 0px;
}

header section#sub-nav-ct .sub-nav .col h3 a {
	color: #191919;
}

header section#sub-nav-ct .sub-nav>div ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: 1.5em;
}

header section#sub-nav-ct .sub-nav>div ul li {
	margin-bottom: 1em;
	font-size: 1.1em;
}

header section#sub-nav-ct .sub-nav .t4-button-blue a {
	padding: 16px 40px;
	font-size: 1.1em;
	display: inline-block;
	clear: both;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: inherit;
	color: #000000;
	background-color: #004b8d;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

header section#sub-nav-ct .sub-nav .t4-button-blue a:visited {
	color: #ffffff;
}

nav#gotoCT {
	width: 100%;
	background-color: rgba(25, 25, 25, 0.85);
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 999;
}

nav#gotoCT div#goto {
	width: calc(100% - 80px);
	max-width: 1280px;
	margin: 0px auto;
}

nav#gotoCT div#goto ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding: 0px;
	line-height: 1.4em;
}

nav#gotoCT div#goto ul li:first-child {
	color: #ffffff;
	border-right: 1px solid #888;
	padding-right: 34px;
}

nav#gotoCT div#goto a {
	color: #c4e4f7;
}

nav#gotoCT div#goto a:hover {
	color: #fed000;
}

#privacy-notice {
	width: calc(100% - 80px);
	max-width: 1280px;
	margin: 0px auto;
	color: #ffffff;
	display: none;
	justify-content: space-between;
	padding-bottom: 20px;
}

#privacy-notice .message {
	font-size: 0.8em;
}

#privacy-notice .close {
	width: 25%;
	text-align: right;
}

#privacy-notice a {
	text-decoration: underline;
	color: #ffffff !important;
}

#privacy-notice-mobile {
	width: calc(100% - 40px);
	padding: 20px;
	margin: 0px auto;
	color: #ffffff;
	display: none;
	justify-content: space-between;
	z-index: 999;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(25, 25, 25, 0.85);
}

#privacy-notice-mobile .message {
	font-size: 0.8em;
}

#privacy-notice-mobile .close {
	width: 20%;
	text-align: right;
}

#privacy-notice-mobile a {
	text-decoration: underline;
	color: #ffffff !important;
	font-size: 0.9em;
}

footer {
	width: 100%;
	background-color: #1a1a1a;
	padding-top: 48px;
	padding-bottom: 50px;
}

footer #footer-ct {
	width: calc(100% - 80px);
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}

footer #footer-ct #logoCT,
footer #footer-ct #socialCT {
	width: 25%;
}

footer #footer-ct #contactInfoFooterCT {
	width: 40%;
}

footer #footer-ct #logoCT .footerLogo {
	margin-bottom: 34px;
}

footer #footer-ct #logoCT .footerLogo img {
	width: 100%;
}

footer #footer-ct #contactInfoFooterCT {
	overflow: auto;
}

footer #footer-ct #contactInfoFooterCT .contactTitle {
	font-size: 1.2em;
	color: #fed000;
	margin-bottom: 24px;
	max-width: 40%;
	float: left;
}

footer #footer-ct #contactInfoFooterCT .contactMap {
	width: 100%;
	max-width: 55%;
}

footer #footer-ct #contactInfoFooterCT .contactMap img {
	width: 100%;
}

footer #footer-ct #contactInfoFooterCT .contactInfo {
	font-size: 0.9em;
	width: 100%;
	max-width: 40%;
	color: #ffffff;
	float: left;
	clear: left;
	line-height: 1.5em;
}

footer #footer-ct #contactInfoFooterCT .contactInfo img {
	vertical-align: middle;
	margin: 0px 12px 20px 0px;
}

footer #footer-ct #contactInfoFooterCT .contactInfo div {
	padding-left: 30px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

footer #footer-ct #socialCT .socialButton {
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

footer #footer-ct #socialCT a:last-child .socialButton {
	margin-right: 0px;
}

footer #footer-ct #socialCT .socialTitle {
	font-size: 1.2em;
	color: #fed000;
	margin-bottom: 24px;
	clear: both;
}

footer #footer-ct #socialCT .socialButton.facebook {
	background-image: url('<t4 type="media" id="20015" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.facebook:hover {
	background-image: url('<t4 type="media" id="20007" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.twitter {
	background-image: url('<t4 type="media" id="20017" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.twitter:hover {
	background-image: url('<t4 type="media" id="20019" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.youtube {
	background-image: url('<t4 type="media" id="19995" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.youtube:hover {
	background-image: url('<t4 type="media" id="20013" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.linkedin {
	background-image: url('<t4 type="media" id="38936" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.linkedin:hover {
	background-image: url('<t4 type="media" id="38937" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.instagram {
	background-image: url('<t4 type="media" id="38934" formatter="path/*"/>');
}

footer #footer-ct #socialCT .socialButton.instagram:hover {
	background-image: url('<t4 type="media" id="38935" formatter="path/*"/>');
}

footer #footer-ct #socialCT .footerLogo {
	clear: both;
	width: 100%;
	padding-top: 24px;
	display: none;
}

footer #footer-ct #socialCT .footerLogo img {
	max-width: 100%;
}

footer #copyright {
	width: calc(100% - 40px);
	text-align: center;
	padding: 34px 0px 50px;
	margin: 34px auto 0px;
	color: #888888;
	font-size: 0.9em;
	border-top: 1px dashed #888;
}

footer #copyright a {
	color: #ffffff;
	border-left: 1px solid #888888;
	padding-left: 12px;
	margin-left: 12px;
}

footer #copyright a:first-of-type {
	border: none;
	padding: 0px;
	margin: 0px;
	color: #888888;
}

section#mobile-main-nav {
	display: none;
	position: absolute;
	top: 100%;
	right: 0px;
	width: 100%;
	background-color: rgba(24, 24, 24, 0.8);
	height: 100vh;
	z-index: 99;
}

section#mobile-main-nav .background {
	width: 90%;
	max-width: 350px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #191919;
}

section#mobile-main-nav .background .actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px 24px;
}

section#mobile-main-nav .background a {
	color: #ffffff;
}

section#mobile-main-nav .background a:visited {
	color: #ffffff;
}

section#mobile-main-nav .background .actions a {
	border-right: 1px solid #f3f3f3;
	font-size: 0.9em;
	width: 32%
}

section#mobile-main-nav .background .actions a:last-child {
	border: none;
}

section#mobile-main-nav .background .actions a img {
	vertical-align: middle;
}

section#mobile-main-nav .background>ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

section#mobile-main-nav .background>ul>li>a {
	display: none;
}

section#mobile-main-nav .background>ul>li>ul {
	padding: 0px;
	border-bottom: 1px solid rgba(136, 136, 136, 0.3);
	list-style-type: none;
}

section#mobile-main-nav .background>ul>li>ul>li {
	border-top: 1px solid rgba(136, 136, 136, 0.3);
	cursor: pointer;
}

section#mobile-main-nav .background>ul>li>ul>li.menu {
	background-image: url('<t4 type="media" id="74468" formatter="path/*"/>');
	background-repeat: no-repeat;
	background-position: right 20px top 1em;
}

section#mobile-main-nav .background>ul>li>ul>li.open {
	background-image: url('<t4 type="media" id="74469" formatter="path/*"/>');
}

section#mobile-main-nav .background>ul>li>ul>li>a {
	padding: 12px 24px;
	font-size: 1em;
	color: #ffffff;
	display: inline-block;
	line-height: 1.6em;
}

section#mobile-main-nav .background>ul>li>ul>li>ul {
	background-color: #f3f3f3;
	padding: 6px 0px;
	list-style-type: none;
}

section#mobile-main-nav .background>ul>li>ul>li>ul>li {}

section#mobile-main-nav .background>ul>li>ul>li>ul>li>a {
	color: #333;
	font-size: 0.9em;
	padding: 6px 36px;
	display: block;
}

section#mobile-main-nav .background>ul>li>ul>li>ul>li>strong {
	color: #333;
	padding: 6px 36px;
	display: block;
}

section#mobile-main-nav .background>ul>li>ul>li>ul>li>a:visited {
	color: #333;
}

section#mobile-main-nav .background .search {
	padding: 24px;
	text-align: right;
}

section#mobile-main-nav .background .search form {
	margin-bottom: 12px;
}

section#mobile-main-nav .background .search form input[type='text'] {
	display: block;
	border: 0px;
	padding: 3px 12px;
	min-height: 37px;
	font-size: 1.2em;
	width: calc(100% - 24px);
}

section#mobile-main-nav .background .search .find-office {
	text-align: right;
}

section#mobile-main-nav .background .search .find-office img {
	vertical-align: middle;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

section#mobile-main-nav .background #gotoCT-mobile {
	background-color: #004b8d;
	padding: 12px 0px;
	color: #ffffff;
}

section#mobile-main-nav .background #gotoCT-mobile .title {
	padding: 0px 24px 12px;
	border-bottom: 1px solid rgba(136, 136, 136, 0.3);
}

section#mobile-main-nav .background #gotoCT-mobile ul {
	display: flex;
	list-style: none;
	padding: 0px 24px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

section#mobile-main-nav .background #gotoCT-mobile ul li {
	width: 50%;
}

section#mobile-main-nav .background #gotoCT-mobile ul li a {
	display: block;
	padding: 6px 0px;
}

.content-hightlight {
	font-size: 2em;
	line-height: 1.3em;
	background-color: #fff8d9;
	padding: 16px;
	color: #5f5e5e;
	text-align: center;
}
@media screen and (max-width:375px) {
	#mobile-search-btn {
		right: 125px;
	}
	
	#mobile-search-btn {
		height: 45px;
		width: 52px;
	}
	

	#mobile-menu-btn {
		height: 45px;
		line-height: 45px;
		width: 52px;
	}
	footer #footer-ct #contactFooterInfoCT .contactMap {
		float: none;
		max-width: 100%;
	}
	
	footer #footer-ct #contactFooterInfoCT .contactInfo {
		float: none;
		max-width: 100%;
		margin-top: 20px;
	}
}

@media screen and (max-width:480px) {
	header #logo-search-ct nav#quick-nav {
		font-size: 0.9em;
	}
	footer #footer-ct {
		width: calc(100% - 40px);
	}
	header {
		overflow: visible;
	}
	
	header #logo-search-ct {
		overflow: visible;
	}
	
	header #logo-search-ct #logo {
		display: block;
	}
	
	header #logo-search-ct #logo-mobile {
		display: none;
	}

}

@media screen and (max-width:599px) {
	.promotion-banner>div.desktop {
		display: none;
	}

	.promotion-banner>div.tablet {
		display: none;
	}

	.promotion-banner>div.mobile {
		display: block;
	}

	.promotion-banner.min .content .title {
		margin-right: 0px;
	}

	.promotion-banner.min .content .text {
		display: none;
	}
}

@media screen and (max-width:600px) {
	#mobile-search-btn {
		height: 52px;
		width: 52px;
	}

	header #logo-search-ct {
		flex-direction: column;
	}

	header #logo-search-ct #logo {
		display: block;
	}

	header #logo-search-ct #logo-mobile {
		display: none;
	}
	header #logo-search-ct nav#quick-nav {
		width: 100%;
	}
	
	header #logo-search-ct nav#quick-nav a {
		width: 20%;
	}
	
	header #logo-search-ct nav#quick-nav a img {
		display: none;
	}
	
	#mobile-menu-btn {
		height: 52px;
		line-height: 52px;
	}
}

@media screen and (max-width:767px) {
	.promotion-banner>div.desktop {
		display: none;
	}
	
	.promotion-banner>div.tablet {
		display: block;
	}
	
	.promotion-banner .banner-link {
		width: calc(100% - 40px);
	}
	
	.promotion-banner .icon {
		display: none;
	}
	
	.promotion-banner.min .content {
		margin: 0px;
	}
	
		.content-hightlight {
			margin: 0px;
			font-size: 1.1em;
		}
	
}

@media screen and (max-width:768px) {
	header #logo-search-ct #logo img {
		margin-left: 12px;
	}
}

@media screen and (max-width:750px) {
header #logo-search-ct #logo {
	display: none;
}

header #logo-search-ct #logo-mobile {
	display: block;
	height: 42px;
	padding: 5px 0px;
	margin-right: 24px;
}
	footer #footer-ct #contactInfoFooterCT {
		width: 100%;
		margin-bottom: 36px;
	}

	footer #footer-ct #socialCT {
		width: 100%;
		text-align: left;
	}

	footer #footer-ct #socialCT .socialButton {
		float: left;
	}

	footer #footer-ct #socialCT a:nth-child(2) .socialButton {
		margin-right: 10px;
	}

	footer #footer-ct #socialCT a:last-child .socialButton {
		margin-right: 0px;
	}
}

@media screen and (max-width:800px) {
	header #logo-search-ct nav#quick-nav {}
}

@media screen and (max-width:950px) {
footer {
	padding-bottom: 0px;
}
	header section#sub-nav-ct .sub-nav.open {
	display: none;
}

	header #main-nav-bg {
	display: none;
}

	header #logo-search-ct nav#quick-nav {
		margin-right: 0px;
	}

	header #logo-search-ct nav#quick-nav a.give {
		margin-left: 0px;
	}

	header #logo-search-ct nav#quick-nav a#mobile-menu-btn {
		display: block;
	}

	header #logo-search-ct nav#quick-nav a.give {
		background-color: transparent;
		padding: 0px;
	}

	header #logo-search-ct nav#quick-nav .border:nth-child(6) {
		display: block;
	}
	header #logo-search-ct {
		height: auto;
		overflow: hidden;
		width: 100%;
	}
	
	header #logo-search-ct #logo img {
		height: 60px;
		width: auto;
		margin-left: 40px;
	}
	
	header #logo-search-ct section#search {
		display: none;
		background-color: #004b8d;
		max-width: 100%;
		padding: 20px 0px;
		text-align: left;
	}
	
	header #logo-search-ct section#search a.apply,
	header #logo-search-ct section#search a.visit,
	header #logo-search-ct section#search a.send-info {
		display: none;
	}
	
	header #logo-search-ct section#search form {
		width: 80%;
		margin: 0px auto;
	}
	
	header #logo-search-ct section#search a.find-office {
		position: relative;
		top: 0px;
		right: initial;
		left: 0px;
		text-align: left;
		display: block;
		width: 80%;
		margin: 0px auto;
		margin-top: 20px;
	}
	
	nav#gotoCT {
			display: none;
		}
		._admithub_embed-container .message-iframe {
			bottom: 105px !important;
		}
		
		._admithub_embed-container .activation-button {
			bottom: 75px !important;
		}
		
	
	}

@media screen and (max-width:1000px) {

footer #footer-ct {
	flex-wrap: wrap;
}

footer #footer-ct #logoCT {
	display: none;
}

footer #footer-ct #contactInfoFooterCT {
	width: 45%;
}

footer #footer-ct #socialCT {
	width: 45%;
}

footer #footer-ct #socialCT .footerLogo {
	display: block;
}

footer #footer-ct #contactInfoFooterCT .contactTitle {
	max-width: 100%;
	float: none;
}

footer #footer-ct #contactInfoFooterCT .contactMap {
	max-width: 255px;
}

footer #footer-ct #contactInfoFooterCT .contactInfo {
	max-width: 100%;
	float: none;
}
	header #logo-search-ct #logo img {
		width: 235px;
	}

	header #logo-search-ct section#search a {
		font-size: 0.8em;
	}
}

@media screen and (max-width:1100px) {
	header #logo-search-ct section#search {
		max-width: 25%;
	}
}

@media screen and (max-width:1150px) {
	footer #footer-ct #contactInfoFooterCT .contactTitle {
		max-width: 55%;
	}

	footer #footer-ct #contactInfoFooterCT .contactMap {
		max-width: 40%;
	}

	footer #footer-ct #contactInfoFooterCT .contactInfo {
		max-width: 55%;
	}
}

@media screen and (max-width:1280px) {
	header section#sub-nav-ct .sub-nav .photo-text .photo {
		width: 200px;
	}

	header section#sub-nav-ct .sub-nav .photo-text .text {
		width: calc(100% - 272px);
	}
	header #logo-search-ct #logo img {
		width: 275px;
	}
	
	header #logo-search-ct section#search {
		max-width: 30%;
	}
	
	header #logo-search-ct section#search a {
		font-size: 0.8em;
	}
}

@media print {

	header,
	footer,
	aside,
	#mobile-search-btn,
	#mobile-menu-btn,
	section#mobile-main-nav {
		display: none !important;
	}

	html {
		background-color: transparent !important;
	}

	section#content {
		display: block !important;
	}

	#outer-ct {
		overflow: auto !important;
	}

	.divCurtain {
		display: block !important;
		overflow: auto !important;
		opacity: 1 !important;
		height: auto !important;
	}

	.pomotion-banner {
		display: none !important;
		height: 0px;
		overflow: hidden;
		visibility: hidden;
	}
}

@media (pointer: fine) and (hover: hover) {
	header section#sub-nav-ct .sub-nav .close-btn {
		display: none;
	}
}

