:root{
--txwes_blue:#002460;
--txwes_yellow:#fed000;
--blog_black:#191919;
--blog_white:#fefefe;
--blog_transparent:rgba(254, 254, 254, .85);
--secondary_bg:rgba(229, 232, 235, .85);
--text_gray:#4F4F4F;
--pentax:6/4.5;
--open_graph:1.91 /1;
--mobile_title:"wght" 800, "ital" 0, "wdth" 82;
}
*, *:before, *:after{
	font-family: "peridot-pe-variable", Arial, Helvetica,sans-serif;
	font-variation-settings:"wght" 400, "ital" 0, "wdth" 100 ;
	font-size: 16.4px;
	color: var(--blog_black);
	line-height: 120%;

}
img{display: block;}
header{position: fixed;}
main{padding-top: 80px; }
.header_title_bar_wrap{
	padding: 24px;
	background-color: var(--blog_transparent);
	display: inline-grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 80px;
	backdrop-filter: blur(1px);
}
.header_title{
	color: var(--txwes_blue);
	font-size: 18px;
	font-variation-settings:"wght" 700, "ital" 0, "wdth" 100;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
	width: fit-content;
}
.header_icons_wrap{
	width: fit-content;
	display: flex;
	gap: 24px;
}
.header_menu_open > img,
.hearder_search > img,
.header_menu_close > img {
	width: 24px;
	height: 24px;
}
.menu_outer{
	background: var(--secondary_bg);
	height: 100vh;
	width: 100vw;
	padding: 40px;
	backdrop-filter: blur(1.25px);
	position: absolute;
	top:0;
}
.menu_inner{
  background: var(--secondary_bg);
  height: 100%;
  width: 100%;
  padding: 40px 20px;

}
.menu_nav_item{
	margin-bottom: 36px;
}
.menu_nav_item > a {
	font-size: 18px;
	font-variation-settings:"wght" 750, "ital" 0, "wdth" 100;
	font-style: normal;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
.header_menu_close{
	position: absolute;
	top: 24px;
	right: 24px;
}
/* Latest Blog Component */
.latest_blog_outer{
	background-color: var(--blog_white);
}
.latest_blog_inner{}
.latest_blog_picture_wrap{
	aspect-ratio:var(--pentax);
	width: 100%;
}
.latest_blog_picture_wrap > img{
	object-fit: fill;
	width: 100%;
	height: 100%;
}
.latest_blog_title_wrap{
	padding: 48px;
	display: flex;
	flex-direction: column;
	gap: 36px;
}
.latest_blog_title_wrap > article{
	display: contents;
}
.latest_blog_label{
	color: var(--text_gray);
	font-size: 15px;
	font-variation-settings: "wght" 300;
	font-weight: 300;
	text-transform: capitalize;
}
.latest_blog_title > a {
	color:var(--txwes_blue);
	font-size: 26px;
	font-style: normal;
	font-variation-settings: var(--mobile_title);
	text-transform: uppercase;
	letter-spacing: .35px;
}
.latest_blog_description{
}
.latest_blog_footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top:28px;
}
.latest_blog_footer_read{
	display: inline-grid;
	padding: 2px 0px;
	grid-template-columns: auto auto;
	gap: 12px;
}
.latest_blog_footer_read > p {
	color: var(--text_gray);
	font-variation-settings: "wght" 300;
	padding-top: 1.5px;
}
.latest_blog_footer_read > img {
	width:18px;
}
.share_icon{
	width:18px;
}
/* Featured Article Component */
.featured_article_outer{
	width: 100%;
}
.featured_article_inner{
	display:flex;
	flex-direction:column;
	gap:24px;
	padding:0px 0px 56px;
}
.featured_article_img_wrap{
	aspect-ratio:var(--open_graph);
}
.featured_article_inner > article{
	display: flex;
	flex-direction: column;
	padding:36px 48px 0px;
	gap:24px;
}

.featured_article_label{
	color: var(--text_gray);
	font-size: 15px;
	font-variation-settings: "wght" 300;
	font-weight: 300;
	text-transform: capitalize;
}
.featured_article_title a{
	color: var(--txwes_blue);
	font-variation-settings: var(--mobile_title);
	font-size:18px;
}
.featured_blog_description{display: none;}
.featured_article_read{ display: none;}
.featured_article_read > p{
	color: var(--text_gray);
	font-variation-settings: "wght" 300;
	padding-top: 1.5px;
}
.featured_article_read > img{
	width:18px;
}
/* General Blog Component */

.general_article_outer{
	width: 100%;
}
.general_article_inner{
	display:flex;
	flex-direction:column;
	gap:24px;
	padding:0px 0px 56px;
}
.general_article_img_wrap{
	aspect-ratio:var(--open_graph);
}
.general_article_inner > article{
	display: flex;
	flex-direction: column;
	padding:36px 48px 0px;
	gap:24px;
}
.general_article_label{
	color: var(--text_gray);
	font-size: 15px;
	font-variation-settings: "wght" 300;
	font-weight: 300;
	text-transform: capitalize;
}
.general_article_title a{
	color: var(--txwes_blue);
	font-variation-settings: var(--mobile_title);
	font-size:18px;
}
.general_article_read{display:none;}

/* Blog Footer */

.footer_outer {
	padding: 40px;
	background: var(--secondary_bg);
	width:100vw;
}

.footer_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	gap:36px;
}

.footer_inner_logo> a > img {
	width: 310px;
}

.footer_inner_social_media_wrap {

}

.social_icon {
	border-bottom: 2px solid transparent;
	width: 30px;
}
.social_icon:last-child{
	width: 40px;
}
.social_main {
	display: block;
}

.footer_inner_social_media_wrap > ul {
	display: inline-grid;
	grid-auto-flow: column;
	align-items: center;
	gap:16px;

}

.social_icon:hover > a > img,
.social_icon:focus-within {
	transition-property: transform;
	transition-duration: 300ms;
	transform: translateY(-10px);
}

.social_icon:hover {
	border-bottom: 2px solid var(--txwes_blue);
}

.social_icon>a:focus-visible {
	outline: none;
}

.footer_inner_address_wrap {

}

.footer_inner_address_wrap>address {
	font-variation-settings: 'wght' 550, 'ital' 0;
	color: var(--blog_black);
	font-size: 18px;
	text-align: center;
	font-style: normal;
}

.footer_inner_address_wrap>address>a {
	display: block;
	font-variation-settings: 'wght' 450, 'ital' 0;
	color: var(--blog_black);
	font-size: 18px;
	font-style: normal;
	margin-top:36px;
}

.footer_inner_address_wrap>address>a:focus-visible,
.footer_inner_legal>ul>li>a:focus-visible {
	outline: none;
}


.footer_inner_address_wrap>address>a>img {
	display: inline-block;
	margin-right: 1rem;
}


.social_icon:focus-within,
.footer_inner_address_wrap>address>a:focus-within,
.footer_inner_legal>ul>li:focus-within {
	outline: 2px solid var(--txwes_blue);
	border-radius: 6px;
	outline-offset: 4px;
}


.footer_inner_legal {

}

.footer_inner_legal>ul {
	display: grid;
	row-gap: .5rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "top-left top-right" "middle-one middle-one" "middle-two middle-two" "bottom bottom";
	justify-items: center;
}

.footer_inner_legal>ul>li>a,
.footer_inner_legal>ul>li {
	color: var(--blog_black);
	font-size: .875rem;
	text-decoration-line: underline;
	font-variation-settings: "wght" 300, "ital" 0;
}

.legal_item_one {
	grid-area: top-left;
}

.legal_item_two {
	grid-area: top-right;
}

.legal_item_three {
	grid-area: middle-one;
}

.legal_item_four {
	grid-area: middle-two;
}

.legal_item_five {
	grid-area: bottom;
	padding-top: 10px;
}

.legal_item_five>a,
.legal_item_five {
	text-decoration: none !important;
}
