*,
::before,
::after{
	font-family: peridot-pe-variable, arial, helvetica, sans-serif;
	font-style: normal;
	font-variation-settings: "ital" 0, "wdth" 100, "wght" 400;
	font-size:16px;
	border-radius: 6px;

}

.bento_outer{
width:100vw;
height: 100vh;
padding:20px;
}

.bento_inner{
	display: grid;
	grid-template-areas: "top"
						 "middle"
						 "bottom"
						 "bottom";
	height: 100%;
	width: 100%;
	gap: 20px;
	grid-template-rows: repeat(4,1fr);
}
.bento_row_one{
	display:grid;
	grid-template-areas: "a a a a b";
	gap:20px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.r1a{
	grid-area: a;
	background-color: #BDBDBD;
}

.r1a > img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.r1b{
	grid-area: b;
	display:grid;
	grid-template-rows: 25% 1fr;
	gap:20px;
}
.menu{
	background-color: #BDBDBD;

}
.verticle_text{
	writing-mode: sideways-lr;
	display: flex;
	font-family: oswald, peridot-pe-variable, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: .5px;
	font-weight: 500;

}
.logo{
	background-color: #84AAD2;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	padding: 12px 6px;

}
.verticle_text  > span {
	width: 20px;
	height: 20px;
	display: inline-block;
	transform: rotate(270deg);
	place-self: flex-end;
	margin: 0 2px 8px 0;
}
.logo > p {
	color: #fefefe;
}

.bento_row_two{
	grid-template-areas: "r2a r2b r2b r2b r2b";
	display:grid;
	gap: 20px;
	grid-template-columns: 20% 1fr;
}
.r2a{
	background-color: #C7DC89;
	grid-area: r2a;
}
.brand{
	background: #fed000;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: end;
	padding: 12px 6px;
}
.brand > p {
	color: #002460;
}

.r2b{
	background-color: #C7DC89;
	grid-area: r2b;
	position: relative;
}
.bento_video_container {
	height: 100%;
	background-color: #191919;
}

.bento_video, .bento_video > iframe {
	width: 100%;
	height:100%;
}


.bento_row_three{
	grid-area: bottom;
	display: grid;
	grid-template-areas: "r3a r3a r3a r3b r3b";
	gap:20px;

}
.r3a{
	grid-area: r3a;
	display: grid;
	grid-template-rows: 25% 1fr;
	gap:20px;
}
.event{
	background-color: #fed000;
}
.r3_image{
	background-color: #fed000;

}
.r3b{
	grid-area: r3b;
	display: grid;
	grid-template-rows: 1fr 1fr;
	row-gap:20px;
}
.alumni{
	background-color: #fed000;
}
.media{
	background-color: #fed000;
}

/* sm	640px  */
@media (min-width: 640px) {  }

/*md	768px	*/
@media (min-width: 768px) {
	.bento_inner{
	display: grid;
	grid-template-areas: "top"
						 "top"
						 "top"
						 "middle"
						 "middle"
						 "bottom"
						 "bottom"
						 "bottom";
	height: 100%;
	width: 100%;
	gap: 24px;
	grid-template-rows: repeat(8, 1fr);
}

.bento_row_one{
	grid-area: top;
	display:grid;
	grid-template-areas: "a a a a b";
	gap:24px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.r1a{
	grid-area: a;
	background-color: #BDBDBD;

}
.r1b{
	grid-area: b;
	display:grid;
	grid-template-rows: 25% 1fr;
	gap:24px;
}
.menu{
	background-color: #BDBDBD;

}
.logo{
	background-color: #BDBDBD;

}
.bento_row_two{
	grid-area: middle;
	grid-template-areas: "r2a r2a r2b r2b r2b";
	display:grid;
	gap: 24px;
	grid-template-columns: repeat(5, 1fr);
}
.r2a{
	background-color: #C7DC89;
	grid-area: r2a;

}
.r2b{
	background-color: #C7DC89;
	grid-area: r2b;
}
.video_outer{
	aspect-ratio: 16/9;
	width: auto;
	background: #191919;
	height: 100%;
	transform: translate(-50% , 0);
	left: 50%;
	top: 0;

}
.bento_row_three{
	grid-area: bottom;
	display: grid;
	grid-template-areas: "r3a r3a r3a r3b r3b";
	gap:24px;
	grid-template-columns: repeat(5,1fr);
}
.r3a{
	grid-area: r3a;
	display: grid;
	grid-template-rows: 25% 1fr;
	gap:24px;
}
.event{
	background-color: #fed000;
}
.r3_image{
	background-color: #fed000;

}
.r3b{
	grid-area: r3b;
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap:24px;
}
.alumni{
	background-color: #fed000;
}
.media{
	background-color: #fed000;
}


}


/* lg	1024px	*/
@media (min-width: 1024px) { }

/*xl	1280px	*/
@media (min-width: 1280px) {  }

/*2xl	1536px	*/
@media (min-width: 1536px) {  }

/*3xl 2048px */
@media(min-width: 2048px) { }
